.nave {
  /* display: flex; */
  margin: 0px;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: rgb(254, 255, 255);
  z-index: 100;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.nav-title {
  padding: 5px;
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
 
}

.nave-list {
  display: flex;
  width: auto;
}

.nav-help {
  text-decoration: none;
  border-radius: 10px;
  border: rgb(15, 15, 15);
  height: 20px;
  width: 80px;
  padding: 10px;
  text-align: center;
  background-color: rgb(23, 23, 56);
  margin-left: 5px;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
.nav-booking {
  text-decoration: none;
  border-radius: 10px;
  border: rgb(15, 15, 15);
  height: 20px;
  width: 85px;
  padding: 10px;
  text-align: center;
  background-color: rgb(23, 23, 56);
  margin-left: 20px;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: auto;
}

.search-btn {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  border-radius: 50px;
  font-size: 0.9rem;
  color: #fff;
  border: rgb(65, 180, 247);
  background-color: rgb(23, 23, 56);
  font-family: inherit;
  margin-right: 60px;
  height: 40px;
  width: 80px;
  cursor: pointer;
}



@media (max-width: 393px) {

}