/* .card__container{
    display: flex;
    flex-direction: column;
    align-self: center;
} */
.card__container{
    margin-left: 30%;
    /* margin-right: 50%; */
    margin-top: 20px;
    height: 500px;
    width: 500px;
    padding-top: 20px;
    background-color: rgb(210, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__container div {
    margin: 5px;
    font-weight: 600;
}


/* @media (max-width: 768px) {
    .card__container{
        align-items: flex-start;
        margin-left: 0;
    }
} */
  
  /* @media (min-width: 1330px) {
    .card__container{
        align-items: flex-start;
        margin-left: 0;
    }
  } */